[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "bundle/vim-nerdtree-syntax-highlight"]
	path = bundle/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "bundle/vim-fish"]
	path = bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-bufkill"]
	path = bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/nerdtree-visual-selection"]
	path = bundle/nerdtree-visual-selection
	url = https://github.com/PhilRunninger/nerdtree-visual-selection.git
[submodule "bundle/omni"]
	path = bundle/omni
	url = https://github.com/GuiLra/vim-omni.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree-syntax-highlight"]
	path = bundle/nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "bundle/nerdtree-devicons"]
	path = bundle/nerdtree-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "bundle/fish"]
	path = bundle/fish
	url = https://github.com/dag/vim-fish.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "fugitive"]
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/coc"]
	path = bundle/coc
	url = https://github.com/neoclide/coc.nvim.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "bundle/windowswap"]
	path = bundle/windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "bundle/vimsence"]
	path = bundle/vimsence
	url = https://github.com/vimsence/vimsence.git
[submodule "bundle/synthwave84"]
	path = bundle/synthwave84
	url = https://github.com/artanikin/vim-synthwave84.git
